html, body, h1, p {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    position: relative;
    justify-content: center;
}

.container {
    width: 80%;
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

.text-input-form {
    width: 100%;
}

.email-domain-selector__list {
    width: 100%;
}

.complete-btn {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 24px;
    background-color: #2980b9;
}

.email-id-form, .email-domain-form {
    display: inline-block;
}