doctype html
html(lang='en')
    head
        title 배민상회
        meta( name='viewport', content='width=device-width, initial-scale=1.0')
        style
            include ../public/css/main.css
    body
        div(class='container')
            div(class='greeting') 
                h1(class='greeting__text') 사장님, 로그인해주세요!

            button(
                class='login-btn'
            ) 배민사장님광장 로그인
            
            div(class='links')
                div(class='links__find-id-pw') 아이디/비밀번호 찾기
                div(class='links__dividier') |
                div(class='links__signup') 회원가입
    
        script
            include ../public/js/main.js