doctype html
html(lang='en')
    head
        title 배민상회
        meta( name='viewport', content='width=device-width, initial-scale=1.0')
        link( rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        style
            include ../public/css/signUpSuccess.css
        script(async='true' defer src='/js/signUpSuccess.js')
    body
        header(class="banner")
            img(src="/img/banner.png" class='banner__img'  alt='banner')
            div(class='banner__text') 회원이 되셨습니다.

        div(class='container')
            div(class='redirect')
                div(class='redirect__text') 메인으로
                span(class='redirect__icon material-icons') arrow_forward

            div(class='user-info')
                div(class='user-info__item')
                    div(class='user-info__item__label') 이름
                    div(class='user-info__item__data') 윤지수
                div(class='user-info__item')
                    div(class='user-info__item__label') 아이디
                    div(class='user-info__item__data') user123
                div(class='user-info__item')
                    div(class='user-info__item__label') 이메일
                    div(class='user-info__item__data') user123@mymail.com
                div(class='user-info__item')
                    div(class='user-info__item__label') 휴대폰
                    div(class='user-info__item__data') 010-1111-9999

            div(class='description') 
                p(class='description__text') · 위 내용은 
                    a(href='//google.com' class='description__link') 내 정보 관리
                    | 에서 수정하실 수 있습니다.
