* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  margin: 30px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  width: 100%;
  margin: 0 0 1em 0;
}

.greeting__text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  font-weight: 500;
}

.login-btn,
.logout-btn {
  width: 100%;
  margin: 0 0 1em 0;
  height: 60px;
  color: white;
  font-size: medium;
  background-color: #3498db;
  border: none;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.links__find-id-pw,
.links__dividier,
.links__signup {
  font-size: x-small;
  margin: 0 0 0 5px;
  color: #7f8c8d;
}

.hide {
  display: none;
}
