* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

.banner {
  margin: 30px 25%;
}

.banner__img {
  width: 100%;
}

.container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
}

section {
  margin-bottom: 30px;
}

.instruction {
  margin-bottom: 10px;
  font-size: medium0;
}

.input-form {
  width: 95%;
  margin: 7px 0 0 0;
  padding-left: 5%;
  height: 32px;
  border: 0.5px solid #bdc3c7;
}

.email-form,
.mobile-form,
.zipcode-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-form__at {
  margin: 0 5px 0.3% 5px;
  font-size: large;
  font-weight: 300;
}

.mobile-form__input,
.zipcode-form__input {
  width: 70%;
}

.mobile-form__valid-btn,
.zipcode-form__valid-btn {
  width: 30%;
  height: 32px;
  margin: 0 0 0 10px;
  border: 0.5px solid #bdc3c7;
  background-color: #ffffff;
  color: #bdc3c7;
}

.email-domain-selector__list {
  width: 100%;
}

.email-id-form,
.email-domain-form {
  display: inline-block;
}

.description__item {
  font-size: x-small;
  color: #bdc3c7;
}

.option-check-form {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.option-check__description {
  margin: 0 5px;
  font-size: small;
}

.option-check__link {
  margin: 0 0 0 5px;
  font-size: x-small;
  color: #bdc3c7;
}

.agreement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.agreement-form-all,
.agreement-form-must,
.agreement-form-optional,
.agreement-links {
  width: 100%;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.agreement-form-all__text {
  margin: 0 5px;
  font-size: medium;
  font-weight: 700;
}

.agreement-form-must__text,
.agreement-form-optional__text {
  margin: 0 5px;
  font-size: small;
}

.agreement-links {
  justify-content: center;
}

.agreement-links__item {
  font-size: x-small;
  margin: 0 10px;
  color: #bdc3c7;
}

.agreement-description {
  display: flex;
  justify-content: flex-start;
}

.agreement-description__item {
  font-size: x-small;
  color: #bdc3c7;
}

.agreement-description__links {
  font-size: x-small;
  margin: 0 0 0 5px;
  color: #bdc3c7;
}

.complete-btn {
  margin: 10px 0 0 0;
  width: 100%;
  height: 48px;
  color: white;
  font-size: small;
  background-color: #3498db;
  border: none;
}

.warning {
  border-color: #ff431b;
}

.warning-text {
  color: #ff431b;
  font-size: 0.7em;
  margin: 1% 0 0 5%;
}

.success-text {
  color: #bdc3c7;
  font-size: 0.7em;
  margin: 1% 0 0 5%;
}

.blocked {
  background-color: #bdc3c7;
}