* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

.banner {
  margin: 30px 25%;
}

.banner__img {
  width: 100%;
}

.container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
}

section {
  margin-bottom: 30px;
}

.instruction {
  margin-bottom: 10px;
  font-size: medium0;
}

.input-form {
  width: 95%;
  margin: 7px 0 0 0;
  padding-left: 5%;
  height: 32px;
  border: 0.5px solid #bdc3c7;
}

.email-form,
.mobile-form,
.zipcode-form {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.email-form {
  display: flex;
}

.email-form__at {
  margin: 0 5px 0.3% 5px;
  font-size: large;
  font-weight: 300;
}

.mobile-form__input,
.zipcode-form__input {
  width: 60%;
}

.mobile-form__valid-btn,
.zipcode-form__valid-btn {
  width: 30%;
  height: 32px;
  margin: 0 0 0 10px;
  border: 0.5px solid #bdc3c7;
  background-color: #ffffff;
  color: #bdc3c7;
}

.email-domain-selector__list {
  width: 100%;
}

.email-id-form,
.email-domain-form {
  display: inline-block;
}

.description__item {
  font-size: x-small;
  color: #bdc3c7;
}

.option-check-form {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.option-check__description {
  margin: 0 5px;
  font-size: small;
}

.option-check__link {
  margin: 0 0 0 5px;
  font-size: x-small;
  color: #bdc3c7;
}

.agreement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.agreement-form-all,
.agreement-form-must,
.agreement-form-optional,
.agreement-links {
  width: 100%;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.agreement-form-all__text {
  margin: 0 5px;
  font-size: medium;
  font-weight: 700;
}

.agreement-form-must__text,
.agreement-form-optional__text {
  margin: 0 5px;
  font-size: small;
}

.agreement-links {
  justify-content: center;
}

.agreement-links__item {
  font-size: x-small;
  margin: 0 10px;
  color: #bdc3c7;
}

.agreement-description {
  display: flex;
  justify-content: flex-start;
}

.agreement-description__item {
  font-size: x-small;
  color: #bdc3c7;
}

.agreement-description__links {
  font-size: x-small;
  margin: 0 0 0 5px;
  color: #bdc3c7;
}

.complete-btn {
  margin: 10px 0 0 0;
  width: 100%;
  height: 48px;
  color: white;
  font-size: small;
  background-color: #3498db;
  border: none;
}

.warning {
  border-color: #ff431b;
}

.warning-text {
  color: #ff431b;
  font-size: 0.7em;
  margin: 1% 0 0 5%;
}

.success-text {
  color: #bdc3c7;
  font-size: 0.7em;
  margin: 1% 0 0 5%;
}

.blocked {
  background-color: #bdc3c7;
}

.mobile-form__modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4);
}

.mobile-form_modal-content {
  position: relative;
  background-color: #ffffff;
  margin: 15% auto;
  width: 85%;
  height: 40%;            
}

.mobile-form_modal-content .text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.mobile-form_modal-content .input-form {
  position: absolute;
  width: 60%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-form_modal-content .cert-time {
  position: absolute;
  font-size: 15x;
  width: 60%;
  top: 60%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.address-form_modal-close,
.mobile-form_modal-close {
  position: absolute;
  color: #aaa;
  right: 5%;
  font-size: 40px;
  font-weight: bold;
}

.address-form_modal-close:hover,
.address-form_modal-close:focus,
.mobile-form_modal-close:hover,
.mobile-form_modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.address-form__modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4);
}

.address-form_modal-content {
  position: relative;
  background-color: #ffffff;
  margin: 15% auto;
  width: 85%;
  height: 40%;            
}

.address-form_modal-content .text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.address-form_modal-content .input-form {
  position: absolute;
  width: 60%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.address-form_modal-content .address-tip {
  position: absolute;
  font-size: 14px;
  width: 60%;
  top: 60%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
